/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

hr {
  margin: 0 0 2rem;
}

.new-food,
.new-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-food-form,
.add-recipe-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 2rem;
}

.food-field,
.recipe-field {
  display: flex;
  flex-direction: column;
}

.add-food-section,
.add-recipe-section {
  width: 50%;
}

.food-page,
.recipe-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-food-btn,
.add-recipe-btn {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: 2rem 0;
}

.food-table {
  outline: #000 0.125rem solid;
  width: 80%;
}

th,
td {
  padding: 0.5rem;
  text-align: center;
  outline: #000 0.125rem solid;
  width: 25%;
}

th {
  background-color: #857f7f;
  color: #fff;
}

.food-table tr:nth-child(even) {
  background-color: #e7d9d9;
}

.btn {
  background-color: #fff;
  padding: 0.5rem;
  box-shadow: #000 0.125rem 0.125rem;
}

.food-field .btn,
.recipe-field .btn {
  width: 25%;
  margin: 0 auto;
}

.users-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #857f7f;
  color: #fff;
}

.registration-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.registration-form {
  display: flex;
  flex-direction: column;
  outline: black 0.125rem solid;
  width: 50%;
  background-color: #ece9e9;
}

.new_user {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  gap: 1rem;
}

.field input {
  padding: 0.25rem;
  border: #000 0.125rem solid;
  width: 100%;
}

.actions .btn {
  width: 7rem;
}

.registration-add {
  display: flex;
  flex-direction: column;
  margin: 2rem 10% 0;
}

.registration-add a {
  text-decoration-line: underline;
  color: rgb(0, 0, 255);
}

.recipe-btn {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.flash-success {
  color: green;
}

.flash-alert {
  color: red;
}

.public-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.public_recipes_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ece9e9;
}

.public_recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 2rem 0 8rem;
}

.recipe-card {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 2%;
  align-items: center;
  padding: 2%;
  border: 1px solid lightseagreen;
  background-color: #fff;
}

.left-recipe-col {
  width: 40%;
  padding: 0.5rem;
}

.right-recipe-col {
  flex-direction: column;
  padding: 0.5rem;
}

.shopping-list-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 5rem;
  padding: 2rem 0;
}

.shopping-data {
  align-items: center;
}

tr .shopping-table-width {
  width: 15%;
}

.shopping_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.recipes-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-card h2 {
  margin-bottom: 15%;
}

.notice {
  color: #54c206;
  margin-left: 1%;
}

.alert {
  color: #f60202;
  margin-left: 1%;
}

.recipes-section {
  width: 90%;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipe-info-public {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
