/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

.new-food {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-food-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 2rem;
}

.food-field {
  display: flex;
  flex-direction: column;
}

.add-food-section {
  width: 50%;
}

.food-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-food-btn {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: 2rem 0;
}

.food-table {
  outline: #000 0.125rem solid;
  width: 80%;
}

th, td {
  padding: 0.5rem;
  text-align: center;
  outline: #000 0.125rem solid;
  width: 25%;
}

th {
  background-color: #857f7f;
  color: #fff;
}

.food-table tr:nth-child(even) {
  background-color: #e7d9d9;
}

.btn {
  background-color: #fff;
  padding: 0.5rem;
  box-shadow: #000 0.125rem 0.125rem;
}

.food-field .btn {
  width: 25%;
  margin: 0 auto;
}